.idea/*
.vscode/*
cmake-build-debug/*
CMakeFiles/*
CMakeCache.txt
TP_Final_Dune_Grupo_1
cmake_install.cmake
Client_autogen/*
Editor_autogen/*
Server_autogen/*
extern/libSDL2pp/SDL2pp_autogen/*
Makefile
ui_mainwindow.h
Editor
Server
Client
