.idea/.gitignore
.idea/modules.xml
.idea/TP-Final-Dune-Grupo-1.iml
.idea/vcs.xml
server
server_celda.o
server_main.o
server_mapa.o
server_navegador.o
.idea/misc.xml
.vscode/settings.json
.idea/.name
CMakeCache.txt
TP_Final_Dune_Grupo_1
Makefile
Editor
CMakeFiles/Server.dir/progress.make
CMakeFiles/Server_autogen.dir/progress.make
CMakeFiles/Server.dir/compiler_depend.make
CMakeFiles/Server.dir/cmake_clean.cmake
CMakeFiles/Server.dir/build.make
CMakeFiles/Editor.dir/compiler_depend.make
CMakeFiles/progress.marks
CMakeFiles/Makefile2
